.abbonati {
  background-color: #000;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 85%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.abbonati-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:after {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.abbonati-h1 {
  font-family: 'Delius Unicase';
  font-size: 18px;
  font-weight: 700;
  color: rgb(255,78,227);
}

.abbonati-h1:hover {
  color: rgb(255,78,227);
  text-decoration: none;
}

.abbonati-h1:active {
  color: rgb(0,0,0);
  text-decoration: none;
}

.abbonati-h2 {
  font-size: 22px;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: rgb(255,255,255);
  text-align: center;
}

.abbonati-h3 {
  font-size: 14px;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: rgb(255,255,255);
  text-align: center;
}

