.personal-h1 {
  color: rgb(131,78,145);
  font-size: 14px;
  font-family: Amiko;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .personal-h1 {
    text-align: left;
  }
}

.personal-h1:hover {
  color: rgb(131,78,145);
}

.personal-h4 {
  font-size: 14px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .personal-h4 {
    text-align: left;
  }
}

.personal-h5 {
  font-size: 12px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .personal-h5 {
    text-align: left;
  }
}

.personal-banner {
  margin-top: 150px;
  background-color: #dec9f4;
  max-width: 60%;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 25px;
}

.personal-banner-pagamento {
  margin-top: 100px;
  background-color: rgba(222,201,244,0.4);
  max-width: 60%;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 25px;
}

.personal-banner-exercise {
  margin-top: 100px;
  background-color: rgba(249,184,220,0.5);
  max-width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 25px;
}

.personal-col {
  text-align: center;
  padding-top: 35px;
}

@media (min-width: 768px) {
  .personal-col {
    text-align: left;
  }
}

.personal-col-img-center {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.personal-btn {
  font-family: 'Amiko';
  font-size: 12px;
  font-weight: 600;
  color: rgb(0,0,0);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255,255,255);
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0,0,0);
}

.personal-btn:hover, .personal-btn:active {
  color: rgb(0,0,0);
  text-decoration: none;
  background-color: rgb(188,188,188);
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0,0,0);
}

.button-logout {
  text-align: center;
  font-family: Amiko, sans-serif;
  color: #2c3a80;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-right: 8%;
  padding-top: 8%;
  padding-right: 15%;
  padding-bottom: 8%;
  padding-left: 15%;
  border-radius: 30px;
  background: #a6b4e7;
  border-width: 3px;
  border-color: #2c3a80;
  border-style: solid;
  border-width: 2px;
}

.button-logout:hover {
  color: #a6b4e7;
  text-decoration: none;
  background: rgb(255,255,255);
  border-width: 2px;
  border-color: #a6b4e7;
}

.div-logout {
  padding-right: 5%;
}

@media (min-width: 576px) {
  .div-logout {
    padding-right: 0%;
  }
}

