.banner-centered {
  background-color: #dec9f4;
  margin-top: 100px;
  max-width: 75%;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 2s;
  border-radius: 25px;
}

.banner-full-transparent {
  background-color: rgba(249,184,220,0.5);
  margin-top: 100px;
  max-width: 85%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
}

.banner-side-sx {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.banner-side-dx-transparent {
  padding: 0px;
  min-height: 200px;
  overflow: hidden;
  background-image: url("../../assets/img/22563815_1381613675269582_107624462_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media (min-width: 576px) {
  .banner-side-dx-transparent {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
}

.sfondo {
  margin-top: 130px;
  padding-top: 30%;
  padding-bottom: 40%;
  background: url("../../assets/img/sfondo.jpg") center / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-banner-holder {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 300px;
  transition: all 1s;
}

.img-banner-container {
  overflow: hidden;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.img-banner-holder:hover {
  transform: scale(1.2);
}

.item-program {
  padding: 25px;
  padding-bottom: 45px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgba(222,201,244,0.4);
  box-shadow: 5px 5px 5px grey;
}

.slick-slide {
  min-height: auto !important;
}

