.text_same_line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline_spaced {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.h0 {
  font-family: Amiko, sans-serif;
  color: rgb(0,0,0);
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  text-align: left;
}

.h0:hover {
  color: rgb(255,255,255)!important;
  text-decoration: none;
}

.nav-item:hover, .nav-item:active {
  background-color: transparent;
}

.nav-link {
  color: black!important;
}

.dropdown-menu {
  background-color: rgb(255,255,255);
}

.dropdown-item {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.dropdown-item:active, .dropdown-item:hover {
  background-color: #dec9f4;
  color: rgb(0,0,0);
}

.navbar-alternative {
  background: linear-gradient(90deg, rgba(231,183,226,1) 0%, rgba(156,105,191,1) 70%, rgba(133,88,205,1) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0px 5px 5px grey;
}

.button-register {
  text-align: center;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  background-color: rgb(252,172,115);
  border-radius: 30px;
  border-width: 3px;
  border-color: rgb(255,255,255);
  border-style: solid;
  margin-right: 10px;
}

.button-register:hover {
  background-color: rgb(131,78,145);
  border-color: rgb(131,78,145);
}

.button-login {
  text-align: center;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-radius: 30px;
  border-width: 3px;
  border-color: rgb(255,255,255);
  border-style: solid;
  border-width: 2px;
  background-color: rgb(63,152,180);
}

.button-login:hover {
  background-color: rgb(131,78,145);
  border-color: rgb(131,78,145);
}

.img-logo {
  width: 80px;
}

