.button-switch {
  display: inline-block;
  font-size: 14px;
  font-family: 'Amiko';
  font-weight: 500;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  color: #fff;
  transition: all .3s;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.button-switch:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252,172,115);
  z-index: -2;
}

.button-switch:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(131,78,145);
  transition: all .3s;
  z-index: -1;
}

.button-switch:hover {
  color: #fff;
  text-decoration: none;
}

.button-switch:hover:before {
  width: 100%;
}

.button-switch-variant {
  display: inline-block;
  font-size: 14px;
  font-family: 'Amiko';
  font-weight: 500;
  margin-top: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  color: #fff;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button-switch-variant:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(63,152,180);
  z-index: -2;
}

.button-switch-variant:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(131,78,145);
  transition: all .3s;
  z-index: -1;
}

.button-switch-variant:hover {
  color: #fff;
  text-decoration: none;
}

.button-switch-variant:hover:before {
  width: 100%;
}

.button-slider-prev {
  height: 50px !important;
  width: 50px !important;
  content: url("../../assets/img/arrow-back.svg");
  left: -30px;
  position: relative;
}

.button-slider-next {
  height: 50px !important;
  width: 50px !important;
  content: url("../../assets/img/arrow-front.svg");
}

.slick-prev::before, .slick-next::before {
  content: none !important;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-reg-btn {
  width: 120px;
  height: 35px;
  font-family: 'Delius Unicase';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: rgb(255,145,224);
  border-radius: 1000px;
  box-shadow: 0px 6px 15px rgba(255,56,199,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}

.log-reg-btn:before {
  content: '';
  border-radius: 1000px;
  width: calc(120px + 10px);
  height: calc(40px + 10px);
  border: 3px solid rgb(255,56,199);
  box-shadow: 0 0 60px rgba(255,56,199,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.log-reg-btn:hover, .log-reg-btn:focus {
  color: #313133;
  transform: translateY(-6px);
  text-decoration: none;
}

.log-reg-btn:hover::before, .log-reg-btn:focus::before {
  opacity: 1;
}

.log-reg-btn::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  animation: none;
}

.log-reg-btn:hover::after, .log-reg-btn:focus::after {
  display: none;
}

.logout-btn {
  font-size: 14px;
  font-family: 'Amiko';
  font-weight: 700;
  color: rgb(131,78,145);
  background-color: rgb(255,255,255);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(131,78,145);
}

.logout-btn:hover, .logout-btn:active {
  text-decoration: none;
  font-weight: 700;
  color: rgb(255,255,255);
  background-color: rgb(131,78,145);
}

