.contatti-container {
  max-width: 40%;
  margin-top: 150px;
}

.contatti-h1 {
  font-size: 16px;
  color: rgb(0,0,0);
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.contatti-col {
  display: flex;
  align-items: center!important;
  justify-content: center!important;
}

.contatti-row-top {
  background-color: #dec9f4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 8px 8px 8px grey;
}

.contatti-row-bottom {
  background-color: #dec9f4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 8px 8px 8px grey;
}

