.log-h3 {
  font-size: 14px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.log-h3:hover {
  text-decoration: none;
}

.log-banner {
  background-color: rgba(222,201,244,0.4);
  width: 60%;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 25px;
}

.log-row {
  text-align: center;
}

.log-col-center {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0px;
}

.log-col-img-center {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.log-remember {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .log-remember {
    text-align: left;
  }
}

.log-col {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .log-col {
    text-align: left;
  }
}

