.popup-h0 {
  visibility: hidden;
  margin-top: 5px;
  font-size: 12px;
  color: rgb(224,35,35);
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .popup-h0 {
    text-align: left;
  }
}

.popup-h0-center {
  visibility: hidden;
  font-size: 12px;
  color: rgb(224,35,35);
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.button-grey {
  width: 120px;
  height: 35px;
  font-family: 'Delius Unicase';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: rgb(0,0,0);
  background: rgb(150,150,150);
  border-radius: 1000px;
  box-shadow: 0px 6px 15px rgb(67,67,67);
  transition: all 0.3s ease-in-out 0s;
  cursor: progress;
  outline: none;
  position: relative;
}

.button-grey:hover, .button-grey:active {
  text-decoration: none;
  color: rgb(0,0,0);
}

.new-pssw {
  display: block;
}

.conferma-pssw {
  display: block;
}

