.programmi-banner {
  max-width: 45%;
  margin-top: 150px;
}

.programmi-h4 {
  font-size: 16px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
}

.programma-esercizio {
  width: 300px;
  box-shadow: 5px 5px 5px grey;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-bottom: 2px;
  background-color: rgba(222,201,244,0.4);
}

