.rules {
  font-size: 10px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .rules {
    text-align: left;
  }
}

.reg-banner {
  background-color: rgba(222,201,244,0.4);
  width: 60%;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 25px;
}

.reg-col {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .reg-col {
    text-align: left;
  }
}

.reg-col-center {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0px;
}

.reg-col-img-center {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.loto {
  width: 140px;
}

