.h1 {
  font-size: 30px;
  font-family: 'Delius Unicase', cursive;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.h1:hover {
  text-decoration: none;
}

.h3 {
  font-size: 24px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.h4 {
  font-size: 16px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .h4 {
    text-align: left;
  }
}

.h5 {
  font-size: 12px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.h6 {
  font-size: 14px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.h7 {
  font-size: 12px;
  color: #000000;
  font-family: Amiko;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.h7:hover {
  color: #000000;
  text-decoration: none;
}

.text_block:hover {
  cursor: not-allowed;
}

.text-save {
  display: none;
}

.text-modify {
  display: block;
}

