.apparizione {
  width: 0px;
  overflow: hidden;
  transition: width 3s linear;
  background: rgb(255,255,255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 576px) {
  .apparizione {
    width: 0px;
    overflow: hidden;
    transition: width 3s linear;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 30%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.img-program-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-program-holder {
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.img-program-holder:hover {
  transform: scale(1.2);
}

.flip-card {
  width: 120px;
  height: 60px;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg) scale(1.0);
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.haze-container {
  position: relative;
}

.haze-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.haze-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.haze-img:hover {
  opacity: 0.3;
}

.haze-container: hover {
  opacity: 0.3;
}

.haze-container:hover .haze-middle {
  opacity: 1;
}

.haze-text {
  color: white;
  font-size: 16px;
}

